<a href="https://colab.research.google.com/github/Ssalgia/Python-Data-Analysis/blob/master/Predicting_subscribers_using_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Referred from Tanu-N-Prabhu's Github Page**

**The Steps that we are going to follow to complete this implementation is as follows:**

1.Importing the necessary libraries.

2.Reading the dataset from the CSV file.

3.Splitting the dataset into independent (x) and dependent (y) variables.

4.Dividing the complete dataset into training and testing dataset.

5.Implement our classifier based on simple linear regression.

**Importing**

1.numpy

2.pandas 

3.sklearn.linear

4.sklearn.model_selection

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

**Reading Dataset from csv file**

In [5]:
df = pd.read_csv("PewDiePie.csv")  # Storing the data in a pandas data frame.
df.head(10)

   Date  Subscribers
0     1        71915
1     2        48270
2     3        47746
3     4        42276
4     5        36867
5     6        28722
6     7        29794
7     8        33125
8     9        27877
9    10        30675

**Splitting the data into Independent(x) and Dependant (y) Variables.**

Here the 'x' value comprises the data and the 'y' value comprises the subscribers, and iloc is used to get the values from a data frame. The reason I have used [:,: -1] is because I needed the second last column from the data frame, and the [:1] gives me the last column of the data frame. You can print the value for confirmation.

In [0]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

**Dividing into training and testing sets.**


Here both the 'x' and the 'y' variables are divided into training and testing data, the test data is 0.2 or 20% and the rest is 80% (training data), random_state is the seed used by the random number generator. The standard distribution of the training and testing set is 70 and 30 respectively.

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

**Implement our classifier based on simple linear regression.**

 We have to feed the trained the tested values to the actual algorithm, by doing so we can predict the subscribers.

In the Below code we call the linear regression function and then try to fit the model by passing trained values.

In [13]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

 We need to predict those values using then predict method, for this we need to pass the tested value of the 'x' variable, by doing so we get the predicted values (subscribers). And the next line of code is just conversion, this is because the y_predict is of type numpy array, so we need to convert this into a data frame only then we can apply the round function. Now the variable predict contains all the predicted subscribers .

In [0]:
y_predict = simplelinearRegression.predict(x_test)

In [0]:
predict = pd.DataFrame(y_predict)

In [17]:
predict.apply(np.round)

         0
0  33900.0
1  45534.0
2  33216.0
3  40744.0

Now we put the data into while loop to get the actual values and just usea print statement.

In [18]:
i = 21
while i <= 28:
  print("Total number of increase in subscribers on May %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Total number of increase in subscribers on May 21 ==> 32531
Total number of increase in subscribers on May 22 ==> 31847
Total number of increase in subscribers on May 23 ==> 31162
Total number of increase in subscribers on May 24 ==> 30478
Total number of increase in subscribers on May 25 ==> 29794
Total number of increase in subscribers on May 26 ==> 29109
Total number of increase in subscribers on May 27 ==> 28425
Total number of increase in subscribers on May 28 ==> 27740

In [19]:
i = 15
while i <= 31:
  print("Total number of increase in subscribers on May %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Total number of increase in subscribers on May 15 ==> 36637
Total number of increase in subscribers on May 16 ==> 35953
Total number of increase in subscribers on May 17 ==> 35268
Total number of increase in subscribers on May 18 ==> 34584
Total number of increase in subscribers on May 19 ==> 33900
Total number of increase in subscribers on May 20 ==> 33215
Total number of increase in subscribers on May 21 ==> 32531
Total number of increase in subscribers on May 22 ==> 31847
Total number of increase in subscribers on May 23 ==> 31162
Total number of increase in subscribers on May 24 ==> 30478
Total number of increase in subscribers on May 25 ==> 29794
Total number of increase in subscribers on May 26 ==> 29109
Total number of increase in subscribers on May 27 ==> 28425
Total number of increase in subscribers on May 28 ==> 27740
Total number of increase in subscribers on May 29 ==> 27056
Total number of increase in subscribers on May 30 ==> 26372
Total number of increase in subscribers on May 31 ==> 25687